@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 972px;
    margin: 0 auto;
}

.header {
    padding-right: 15px;
    padding-left: 15px;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__container {
    padding-top: 8.85%;
    padding-bottom: 8.25%;
}

.header__logo {
    display: block;
    margin: 0 auto;
}

.header__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.header__title {
    color: #ffffff;
    font-size: 2.125em;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5.43px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15.5%;
    margin-bottom: 28.1%;
    position: relative;
}

.header__title::after {
    content: '';
    display: block;
    width: 105px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -46px;
    /* left: 435px; */
    left: 44.8%;
}

.header__subtitle {
    display: block;
    font-size: 0.765em;
    font-weight: 400;
    letter-spacing: 4.15px;
    text-transform: lowercase;
    text-align: center;
    margin-top: 3px;
}

.btn-read-more {
    display: block;
    width: 182px;
    height: 47px;
    margin: 0 auto;
    background: none;
    border: 1px solid #fff;
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.67px;
    cursor: pointer;
    margin-bottom: 7.8%;
}

.header__link {
    display: block;
    transition: 0.3s;
}

.header__arrow {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    transition: 0.3s;
}

.header__arrow:hover {
    transform: scale(1.5) translateY(5px);
}

.navbar {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    text-align: center;
    align-content: center;
    padding-left: 0;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 14.9%;
    padding-left: 34px;
}

.menu__item {
    margin-right: 48px;
}

.menu__item_last {
    margin-right: 0;
}

.menu__link {
    text-decoration: none;
    color: #3c3c3c;
    font-size: 0.9375em;
    font-weight: 400;
    text-transform: uppercase;
}

.menu__link_selected {
    color: #ada074;
}

.title {
    color: #000000;
    font-size: 2.125em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6.91px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.title::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    left: 45.4%;
    width: 81px;
    height: 1px;
    background-color: #000000;
}

.about {
    padding-left: 15px;
    padding-right: 15px;
}

.about__text {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 6.85%;
    max-width: 688px;
    color: #868585;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 25.89px;
    text-align: center;
}

.about__flex-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 76px;
}

.about__item {
    flex-basis: 31%;
    align-items: center;
}

.about__item_last {
    margin-right: 0;
}

.about__img {
    display: block;
    margin: 0 auto;
}

.about__title {
    color: #000000;
    font-size: 1.375em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.52px;
    text-align: center;
    margin-top: 35.5px;
    margin-bottom: 25px;
}

.about__subtitle {
    color: #868585;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
}

.portfolio {
    background-color: #f3f3f3;
    padding-top: 5.25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 64px;
}

.portfolio__menu {
    margin-top: 4.3%;
    margin-bottom: 7%;
}

.portfolio__title::after {
    left: 47.4%;
    bottom: -35px;
}

.portfolio__grid-box {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(290px, 538px));
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px 27px;
}

.portfolio__button {
    color: #000;
    border-color: #000;
    margin-top: 56px;
    margin-bottom: 0;
}

.partners {
    background-image: url(../img/partners-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 15px;
    padding-right: 15px;
}

.partners__container {
    padding-top: 4.97%;
    padding-bottom: 5.4%;
}

.partners__title {
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 1.875em;
    font-weight: 300;
    letter-spacing: 1.8px;
    margin-bottom: 94px;
}

.partners__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners__item {
    margin-right: 111px;
}

.partners__item_last {
    margin-right: 0;
}

.contact {
    padding-left: 15px;
    padding-right: 15px;
}

.contact__container {
    padding-top: 9.39%;
    padding-bottom: 98px;
}

.contact__grid-box {
    margin-top: 15%;
}

.contact__title::after {
    bottom: -42px;
    left: 45%;
}

.contact__grid-box {
    display: grid;
    grid-template-columns: minmax(290px, 385px) 253px;
    grid-column-gap: 79px;
    padding-left: 4.15%;
}

.contact__item_form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 46px;
}

.contact__input-name {
    display: inline-block;
    width: 150px;
    height: 35px;
    background-color: #f8f7f7;
    outline: none;
    border: none;
    border-top: 1px solid black;
    padding-left: 10px;
}

.contact__input-name-wrap {
    position: relative;
}

.contact__input-name-wrap::before {
    content: 'YOUR NAME';
    display: block;
    color: #000000;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.84px;
    position: absolute;
    top: -32px;
    left: 0;
}

.contact__input-email {
    display: inline-block;
    width: 150px;
    height: 35px;
    background-color: #f8f7f7;
    outline: none;
    border: none;
    border-top: 1px solid black;
    padding-left: 10px;
}

.contact__input-email-wrap {
    position: relative;
    margin-bottom: 27.1%;
}

.contact__input-email-wrap::before {
    content: 'YOUR E-MAIL';
    display: block;
    color: #000000;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.84px;
    position: absolute;
    top: -32px;
    left: 0;
}

.contact__message {
    display: block;
    width: 374px;
    height: 106px;
    background-color: #f8f7f7;
    resize: none;
    border: none;
    border-top: 1px solid black;
    outline: none;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 20px;
}

.contact__message-wrap {
    position: relative;
}

.contact__message-wrap::before {
    content: 'MESSAGE';
    display: block;
    color: #000000;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.84px;
    position: absolute;
    top: -34px;
    left: 0;
}

.contact__btn-send {
    display: block;
    border: none;
    background: none;
    color: #000000;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.84px;
    margin-top: 39px;
    margin-left: 88%;
    outline: none;
    cursor: pointer;
}

.contact__paragraph {
    margin-top: 8px;
    color: #000000;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 31px;
}

.contact__name {
    color: #000000;
    font-size: 0.875em;
    font-weight: 700;
    display: block;
    margin-bottom: 22px;
}

.contact__link-box {
    display: flex;
    align-items: center;
}

.contact__link_first {
    margin-right: 11px;
}

.contact__address {
    color: #000000;
    font-size: 0.875em;
    font-weight: 400;
    margin-top: 8px;
}

.contact__mail {
    font-weight: 700;
}

.footer {
    background-color: #3c3c3c;
    padding-left: 15px;
    padding-right: 15px;
}

.footer__container {
    padding-top: 48px;
    padding-bottom: 49px;
}

.footer__logo {
    display: block;
}

.footer__picture {
    display: block;
    margin: 0 auto;
}

.footer__menu {
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin-top: 37px;
}

.footer__item {
    display: inline-block;
    margin-right: 17px;
}

.footer__item_last {
    margin-right: 0;
}

.footer__link {
    color: #a4a4a4;
    font-size: 0.875em;
    font-weight: 400;
    text-decoration: none;
}

.footer__text {
    color: #6c6c6c;
    font-family: "MyriadPro";
    font-size: 0.875em;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    margin-top: 29px;
}