@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 972px;
    margin: 0 auto;
}

.header {
    padding-right: 15px;
    padding-left: 15px;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__container {
    padding-top: 8.85%;
    padding-bottom: 8.25%;
}

.header__logo {
    display: block;
    margin: 0 auto;
}

.header__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.header__title {
    color: #ffffff;
    font-size: 2.125em;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5.43px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15.5%;
    margin-bottom: 28.1%;
    position: relative;
    max-width: 757px;
}

.header__title::after {
    content: '';
    display: block;
    width: 105px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -46px;
    left: 43%;
}

.header__subtitle {
    display: block;
    font-size: 0.765em;
    font-weight: 400;
    letter-spacing: 4.15px;
    text-transform: lowercase;
    text-align: center;
    margin-top: 3px;
}

.btn-read-more {
    display: block;
    width: 182px;
    height: 47px;
    margin: 0 auto;
    background: none;
    border: 1px solid #fff;
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.67px;
    cursor: pointer;
    margin-bottom: 7.8%;
}

.header__link {
    display: block;
    transition: 0.3s;
}

.header__arrow {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    transition: 0.3s;
}

.header__arrow:hover {
    transform: scale(1.5) translateY(5px);
}

.navbar {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    text-align: center;
    align-content: center;
    padding-left: 0;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 14.9%;
    padding-left: 34px;
}

.menu__item {
    margin-right: 48px;
}

.menu__item_last {
    margin-right: 0;
}

.menu__link {
    text-decoration: none;
    color: #3c3c3c;
    font-size: 0.9375em;
    font-weight: 400;
    text-transform: uppercase;
}

.menu__link_selected {
    color: #ada074;
}

.title {
    color: #000000;
    font-size: 2.125em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6.91px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.title::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 81px;
    height: 1px;
    background-color: #000000;
}

.about {
    padding-left: 15px;
    padding-right: 15px;
}

.about__text {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 6.85%;
    max-width: 688px;
    color: #868585;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 25.89px;
    text-align: center;
}

.about__flex-box {
    display: flex;
    justify-content: center;
    margin-bottom: 76px;
    flex-wrap: wrap;
}

.about__item {
    align-items: center;
    max-width: 301.31px;
}

.about__item_last {
    margin-right: 0;
}

.about__img {
    display: block;
    margin: 0 auto;
}

.about__title {
    color: #000000;
    font-size: 1.375em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.52px;
    text-align: center;
    margin-top: 35.5px;
    margin-bottom: 25px;
}

.about__subtitle {
    color: #868585;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
}

.portfolio {
    background-color: #f3f3f3;
    padding-top: 99px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 64px;
}

.portfolio__menu {
    margin-top: 80px;
    margin-bottom: 7%;
}

.portfolio__title::after {
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
}

.portfolio__grid-box {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(290px, 538px));
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px 27px;
}

.portfolio__picture {
    display: block;
    max-width: 100%;
}

.portfolio__button {
    color: #000;
    border-color: #000;
    margin-top: 56px;
    margin-bottom: 0;
}

.partners {
    background-image: url(../img/partners-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 15px;
    padding-right: 15px;
}

.partners__container {
    padding-top: 93px;
    padding-bottom: 102px;
}

.partners__title {
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 1.875em;
    font-weight: 300;
    letter-spacing: 1.8px;
    margin-bottom: 9.7%;
}

.partners__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.partners__item {
    margin-right: 111px;
}

.partners__item {
    transition: 0.3s;
}

.partners__item:hover {
    transform: scale(1.2);
}

.partners__item_last {
    margin-right: 0;
}

.contact {
    padding-left: 15px;
    padding-right: 15px;
}

.contact__container {
    padding-top: 9.39%;
    padding-bottom: 98px;
}

.contact__grid-box {
    margin-top: 15%;
}

.contact__title::after {
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
}

.contact__grid-box {
    display: grid;
    grid-template-columns: minmax(290px, 385px) 253px;
    grid-column-gap: 79px;
    padding-left: 4.15%;
}

.contact__item_form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 46px;
}

.contact__input-name {
    display: inline-block;
    width: 150px;
    height: 35px;
    background-color: #f8f7f7;
    outline: none;
    border: none;
    border-top: 1px solid black;
    padding-left: 10px;
}

.contact__input-name-wrap {
    position: relative;
}

.contact__input-name-wrap::before {
    content: 'YOUR NAME';
    display: block;
    color: #000000;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.84px;
    position: absolute;
    top: -32px;
    left: 0;
}

.contact__input-email {
    display: inline-block;
    width: 150px;
    height: 35px;
    background-color: #f8f7f7;
    outline: none;
    border: none;
    border-top: 1px solid black;
    padding-left: 10px;
}

.contact__input-email-wrap {
    position: relative;
    margin-bottom: 27.1%;
}

.contact__input-email-wrap::before {
    content: 'YOUR E-MAIL';
    display: block;
    color: #000000;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.84px;
    position: absolute;
    top: -32px;
    left: 0;
}

.contact__message {
    display: block;
    width: 374px;
    height: 106px;
    background-color: #f8f7f7;
    resize: none;
    border: none;
    border-top: 1px solid black;
    outline: none;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 20px;
}

.contact__message-wrap {
    position: relative;
}

.contact__message-wrap::before {
    content: 'MESSAGE';
    display: block;
    color: #000000;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.84px;
    position: absolute;
    top: -34px;
    left: 0;
}

.contact__btn-send {
    display: block;
    border: none;
    background: none;
    color: #000000;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.84px;
    margin-top: 39px;
    margin-left: 88%;
    outline: none;
    cursor: pointer;
}

.contact__paragraph {
    margin-top: 8px;
    color: #000000;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 31px;
}

.contact__name {
    color: #000000;
    font-size: 0.875em;
    font-weight: 700;
    display: block;
    margin-bottom: 22px;
}

.contact__link-box {
    display: flex;
    align-items: center;
}

.contact__link_first {
    margin-right: 11px;
}

.contact__link {
    transition: 0.3s;
}

.contact__link {
    transition: 0.3s
}

.contact__link:hover {
    transform: scale(1.1);
}

.contact__address {
    color: #000000;
    font-size: 0.875em;
    font-weight: 400;
    margin-top: 8px;
}

.contact__mail {
    font-weight: 700;
}

.footer {
    background-color: #3c3c3c;
    padding-left: 15px;
    padding-right: 15px;
}

.footer__container {
    padding-top: 48px;
    padding-bottom: 49px;
}

.footer__logo {
    display: block;
}

.footer__picture {
    display: block;
    margin: 0 auto;
}

.footer__menu {
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin-top: 37px;
}

.footer__item {
    display: inline-block;
    margin-right: 17px;
}

.footer__item_last {
    margin-right: 0;
}

.footer__link {
    color: #a4a4a4;
    font-size: 0.875em;
    font-weight: 400;
    text-decoration: none;
}

.footer__text {
    color: #6c6c6c;
    font-family: "MyriadPro";
    font-size: 0.875em;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    margin-top: 29px;
}

.hvr-sweep-to-right {
    display: block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
    color: #4b728e;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    /* overflow: hidden; */
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: -4px;
    background: #3c3c3c;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.hvr-sweep-to-top {
    display: block;
    /* vertical-align: middle; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
    color: white;
}

.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.hvr-underline-from-left {
    display: block;
    /* vertical-align: middle; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -3px;
    background: #000;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}

.hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition: 0.3s;
}

.hvr-underline-reveal:hover:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: -4px;
    background: #a4a4a4;
    height: 2px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

@media (max-width: 845px) {
    body {
        font-size: 15px;
    }
}

@media (max-width: 831px) {
    .header__title::after {
        left: 44%;
    }

    .header__title {
        font-size: 27.625px;
    }
}

@media (max-width: 694px) {
    .header__title {
        font-size: 24.625px;
    }

    .header__title::after {
        left: 43%;
    }
}

@media (max-width: 561px) {
    .header__title::after {
        left: 41%;
    }
}

@media (max-width: 500px) {
    .header__title::after {
        left: 39.5%;
    }
}

@media (max-width: 418px) {
    .header__title::after {
        left: 36.5%;
    }

    .header__title {
        font-size: 22.625px;
    }
}

@media (max-width: 378px) {
    .header__title::after {
        left: 35%;
    }
}

@media (max-width: 360px) {
    .header__title {
        font-size: 21.625px;
    }

    .header__title::after {
        left: 33.5%;
    }
}

@media (max-width: 320px) {
    .header__title {
        font-size: 20.625px;
    }

    .header__title::after {
        left: 31.5%;
        margin-bottom: 12px;
    }

    .header__btn-read-more {
        margin-bottom: 12.8%;
    }

    .header__container {
        padding-bottom: 14.25%;
    }
}

@media (max-width: 950px) {
    .about__item {
        margin-bottom: 20px;
    }

    .about__item_last {
        margin-bottom: 0;
    }
}

@media (max-width: 842px) {
    .about__subtitle {
        max-width: 270px;
    }

    .about__title_main {
        max-width: 636px;
    }
}

@media (max-width: 500px) {
    .about__text {
        max-width: 377px;
    }

    .menu {
        padding-left: 0;
    }
}

@media (max-width: 452px) {
    .menu {
        flex-direction: column;
        margin-bottom: 10.9%;
    }

    .menu__item {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .menu__link {
        font-size: 1.3em;
    }

    .about__container {
        padding-top: 10%;
    }

    .about__flex-box {
        margin-bottom: 32px;
    }
}

@media (max-width: 374px) {
    .about__text {
        max-width: 298px;
        margin-bottom: 11.85%;
    }
}

@media (max-width: 320px) {
    .menu__item {
        margin-bottom: 23px;
    }

    .about__text {
        margin-bottom: 15.85%;
    }
}

@media (max-width: 1161px) {
    .portfolio__grid-box {
        grid-template-columns: minmax(290px, 538px);
        grid-column-gap: 0;
    }
}

@media (max-width: 634px) {
    .partners__box {
        flex-direction: column;
    }

    .partners__item {
        margin-right: 0;
        margin-bottom: 45px;
    }

    .partners__container {
        padding-top: 62px;
        padding-bottom: 15px;
    }
}